<!DOCTYPE html>
<html>
<head>
	<title>Info</title>
	<link rel="stylesheet" type="text/css" href="/Style/pirate/style_info.css" />
	<meta charset="UTF-8">
	
</head>

<header>
	
	<nav class="menu">
		<a  href="/SIO1/Pirate">
			<img class="fleche" src="/img/pirate/fleche.png">
		</a>
		<div class="titre">
			<h1>Informations</h1>
		</div>
		<img class="peroquet" src="/img/pirate/peroquet.png">
	</nav>

</header>
<body>

	<div class="info">
		<div class="regles">
			<h1>Règles : </h1>
			<h2>	Trouve le coffre !</h2>
		</div>
		
		<div class="croix">	
			<img src="/img/pirate/croix.png">
			<p>Case sans evénement particulier</p>
		</div>
		<div class="piece">
			<img src="/img/pirate/piece.png">
			<p>-2 à ton score</p>
		</div>
		
		<div class="bomb">
			<img src="/img/pirate/bomb.png">
			<p>	+2 à ton score</p>
		</div>
		<div class="vue">
			<img src="/img/pirate/vue.png">
			<p>Le coffre se trouve dans un rayon de 2 cases</p>
			
		</div>
		<div class="pelle">
			<img src="/img/pirate/pelle.png">
			<p>	Le coffre se trouve dans un rayon de 1 case</p>
		</div>
		<div class="lapin">
			<img src="/img/pirate/lapin.png">
			<p>Lapin fou qui vous élimine et met fin à la partie</p>
		</div>
		
	</div>

</body>
</html>
