<%- include('header.ejs') %>



    <div class=" mt-5 ">
        <div class="card shadow accueilcard">
            <div class="card-body h-100 ">

                <div class="position-relative h-100 ">

                    
                    <div class="row imgImpaire ">
                        <img class="shadow" src="/img/caroussel/CaptureGSM.PNG">
                    </div>
                    
                    <div class=" position-absolute iconImpaire">
                        <img src="/img/caroussel/logo_solti.png" class="icon" alt="...">
                    </div>

                    <div class="position-absolute text impaire">
                        <div class="position-absolute titreAccueil">
                            <h1> Stage SOLTI </h1>
                        </div>
                        <div class="position-absolute textcard">
                            <p> Solti est une entreprise basée à Seyssinet-Pariset qui commercialise différents
                                logiciels
                                concernant la gestion de stock. </p>
                            <p> Le logiciel nommé GSM (Gestion de stock modulaire) est le
                                plus utilisé, il permet aux entreprises de gérer leur stock. Elle possède actuellement
                                plus
                                de 1550 client à travers 75 pays différents. </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="card shadow accueilcard paire">
            <div class="card-body h-100 ">

                <div class="position-relative h-100">

                    <div class="row imgpaire shadow">
                        <img src="/img/caroussel/solti2.png">
                    </div>
            
                </div>
             
                <div class="position-absolute text paire">

                    <div class="position-absolute titreAccueil paire">
                        <h1> Devis en facture  </h1>
                    </div>
                    <div class="position-absolute textcard paire">
                        <p> Pour ma première mission, ont m'avait confié l'ajout d'une fonctionnalité pour transformer un devis en facture dans leur logiciel GSM.  </p>
                        

                    </div>

                </div>


            </div>
        </div>
    </div>
    </div>



    <div class=" mt-5 ">
        <div class="card shadow accueilcard">
            <div class="card-body h-100 ">

                <div class="position-relative h-100 ">

                    
                    <div class="row imgImpaire ">
                        <img class="shadow" src="/img/caroussel/solti3.png">
                    </div>
            

                    <div class="position-absolute text impaire">
                        <div class="position-absolute titreAccueil">
                            <h1> Facture à partir du journal </h1>
                        </div>
                        <div class="position-absolute textcard">
                            <p> Ma deuxieme mission était une demande d'ajout de fonctionnalité de la part d'un client. </p>
                            <p> Il voulait que dans le journal des sorties il puisse, en sélectionnant les lignes du
                                tableau, créer une facture automatiquement. </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="card shadow accueilcard paire">
            <div class="card-body h-100 ">

                <div class="position-relative h-100">

                    <div class="row imgpaire shadow">
                        <img src="/img/caroussel/solti4.png">
                    </div>
            
                </div>
             
                <div class="position-absolute text paire">

                    <div class="position-absolute titreAccueil paire">
                        <h1> Facture de sortie de produits   </h1>
                    </div>
                    <div class="position-absolute textcard paire">
                        <p> Pour ce début de semaine on m’a demandé à nouveau de travailler sur une fonctionnalité
                            relative aux factures. Cette fois-ci l’objectif était de pouvoir créer des factures à partir d’une
                            sortie de produits.  </p>
                        

                    </div>

                </div>


            </div>
        </div>
    </div>
    </div>

    <div class=" mt-5 ">
        <div class="card shadow accueilcard">
            <div class="card-body h-100 ">

                <div class="position-relative h-100 ">
                    <!-- <div id="carouselExampleCaptions h-25 carouselAccueil ar" class="carousel impaire slide carousel-fade"data-bs-ride="carousel"> -->
                    <div id="carrousel5" class="carousel impaire slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carrousel5" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carrousel5" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>

                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/caroussel/solti5.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/caroussel/solti6.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carrousel5"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carrousel5"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                   

                    <div class="position-absolute text impaire">
                        <div class="position-absolute titreAccueil">
                            <h1> Graphiques </h1>
                        </div>
                        <div class="position-absolute textcard">
                            <p> Ma dernière mission fut de créer une option suplémentaire dans le logiciel qui permettrait de visualiser des graphiques relatifs aux mouvements de stocks. </p>
                            

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>

</body>

</html>